<hr>

{{ if or .GitInfo .Site.Params.BookEditPath }}
<div class="book-footer {{ if not .GitInfo }}justify-end{{ else }}justify-between{{ end }}">
  {{ with .GitInfo }}
  <div>
    {{ $date := .AuthorDate.Local.Format (default "January 2, 2006" $.Site.Params.BookDateFormat) }}
    <a class="flex align-center" href="{{ $.Site.Params.BookRepo }}/commit/{{ .Hash }}" title='Last modified {{ $date }} by {{ .AuthorName }}' target="_blank" rel="noopener">
      <img src="{{ "svg/calendar.svg" | relURL }}" alt="Changed" />
      <span>{{ $date }}</span>
    </a>
  </div>
  {{ end }}
</div>
{{ end }}
