{{ $tocLevels := default (default 6 .Site.Params.BookToC) .Params.BookToC }}
{{ if and $tocLevels .Page.TableOfContents }}
  <aside class="book-toc levels-{{$tocLevels}} fixed">
<nav class="mainContiner">
    {{ .Page.TableOfContents }}

</nav>
  </aside>
{{ end }}
